.loader-main.active-loader{
    opacity: 1;
    visibility: visible;

    transition-property: opacity, visibility;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.loader-main {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    z-index: 200;

    transition-property: opacity, visibility;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-color: #191c1f;
}

.loader{
    position: relative;
    width: 230px;
    height: 238px;
}



/* The dot */
.loader>.dot {
    position: absolute;
    top: 65px;
    left: 85px;
    z-index: 10;

    width: 220px;
    height: 160px;

    margin-top: -50px;
    margin-left: -80px;

    border-radius: 5px;
/* bordes */
    background-color: #7952B3;

    animation: dot1 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader>.dot:nth-child(2) {
    z-index: 11;

    width: 210px;
    height: 150px;

    margin-top: -45px;
    margin-left: -75px;

    border-radius: 3px;

    background-color: #272727;

    animation-name: dot2;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */
.loader>.dot:nth-child(3) {
    z-index: 12;

    width: 60px;
    height: 30px;

    margin-top: 110px;
    margin-left: 0px;

    border-radius: 0 0 5px 5px;

    background-color: #422c64;

    animation-name: dot3;
}

.loader .dot>.text-dot {
    color: rgb(255, 255, 255);
    font-size: 20px;

}



@keyframes dot1 {
    3%,
    97% {
        width: 220px;
        height: 160px;

        margin-top: -50px;
        margin-left: -80px;
    }

    30%,
    36% {
        width: 140px;
        height: 180px;

        margin-top: -60px;
        margin-left: -40px;
    }

    63%,
    69% {
        width: 100px;
        height: 140px;

        margin-top: -40px;
        margin-left: -20px;
    }
}

@keyframes dot2 {
    3%,
    97% {
        width: 210px;
        height: 150px;

        margin-top: -45px;
        margin-left: -75px;
    }

    30%,
    36% {
        width: 130px;
        height: 156px;

        margin-top: -48px;
        margin-left: -35px;
    }

    63%,
    69% {
        width: 92px;
        height: 120px;

        margin-top: -30px;
        margin-left: -16px;
    }
}

@keyframes dot3 {
    3%,
    97% {
        width: 60px;
        height: 30px;

        margin-top: 110px;
        margin-left: 0px;
    }

    30%,
    36% {
        width: 8px;
        height: 8px;

        margin-top: 110px;
        margin-left: 25px;

        border-radius: 8px;
    }

    63%,
    69% {
        width: 16px;
        height: 4px;

        margin-top: -37px;
        margin-left: 22px;

        border-radius: 10px;
    }
}

.lds-ellipsis {
    position: absolute;
    top: 45px;
    left: 85px;

    transform: translateX(50%);

    width: 80px;
    height: 80px;

    margin-top: 140px;
  }
  .lds-ellipsis p{
    position: absolute;
    left: -100px;
    top: 23px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-family: monospace;
  }

  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(24px, 0);
    }
  }