.paralax *{
    color: white;
}
.paralax{
    background-image: url(../img/paralax.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
    
}

.contenedor{
    overflow: hidden;
 
}

.paralax .contenido-paralax{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}
